# Object files
*.o
build/

# Libraries
*.lib
*.lo
*.la
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib


#temp files 
*~

# Executables
*.exe
*.out
*.app
*.pkg
*.self
*.elf
EmperorVsAliens

